<div class="container">
    <div id="stepper1" class="bs-stepper" #stepperElm>
        <div class="steps-container">
            <div class="line"></div>
            <div class="bs-stepper-header">
                <div class="step" data-target="#test-l-1">
                    <button class="step-trigger">
                        <span class="bs-stepper-circle">1</span>
                        <span class="bs-stepper-label">Location & Duration</span>
                    </button>
                </div>
                <div class="step" data-target="#test-l-2">
                    <button class="step-trigger">
                        <span class="bs-stepper-circle">2</span>
                        <span class="bs-stepper-label">Trip Style</span>
                    </button>
                </div>
                <div class="step" data-target="#test-l-3">
                    <button class="step-trigger">
                        <span class="bs-stepper-circle">3</span>
                        <span class="bs-stepper-label">Advanced Preferences</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="bs-stepper-content">
            <form>
                <div id="test-l-1" class="content">
                    <app-location-duration-step (next)="nextToStep2($event)" ></app-location-duration-step>
                </div>
                <div id="test-l-2" class="content">
                    <app-trip-style-step (prev)="prev()" (next)="nextToStep3($event)"></app-trip-style-step>
                </div>
                <div id="test-l-3" class="content text-center">
                    <app-advanced-preferences-step (prev)="prev()" (next)="nextToCreateTrip($event)"></app-advanced-preferences-step>
                </div>
            </form>
        </div>

    </div>
</div>
